* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #434343;
  color: white;
  font-family: sans-serif;
}

.Searchbar {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.GridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}

.Card {
  width: 342px;
  height: 513px;
  position: relative;
  cursor: pointer;
  background-color: black;
  color: white;
}
