* {
  margin: 0;
  padding: 0;
}

.Searchbar {
  padding: 20px;
  background-color: black;
}
.GridLayout {
  height: calc(100vh - 60px);
  background-color: gray;
}

.Grid-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}
